Imporing `.csv` file and handling different issues.
~ Shuvendu Pritam Das

In [1]:
import pandas as pd

## Opening from Local System

In [2]:
# df = pd.read_csv("") # default separation is ','

## From an URL

In [3]:
import requests
from io import StringIO
##raw data url from github
url = "https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data) # default separation is ','
print(df.head(2))

   id  location_id              address_1 address_2          city  \
0   1            1  2600 Middlefield Road       NaN  Redwood City
1   2            2       24 Second Avenue       NaN     San Mateo

  state_province postal_code country
0             CA       94063      US
1             CA       94401      US

## Sep Parameter for .tsv file

In [4]:
import requests
from io import StringIO
##raw data url from github
url = "https://gist.githubusercontent.com/cdroulers/1a919d7f9ce701a716b0/raw/77dbd5e7e3db7017ae64e3f420e53f7e8b90aca1/Sample.tsv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data,sep = '\t') ## '\t' for tab separation
print(df.head(2))

  Some parameter  Other parameter  Last parameter
0          CONST           123456           12.45

## names parameter

If feature name is not there, then use use this parameter for naming the columns.

In [5]:
df = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\no_header.xlsx")
df2 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\no_header.xlsx",names=["Id","Name","Age","Mark","Attendance"])
print(df,'\n',df2)

   A12    Alok  23  92  92.1
0  A14   Jiten  22  91  63.0
1  A14    Amol  21  93  87.0
2  A16   Anmol  22  89  68.0
3  A17   Arman  23  82  91.0
4  A18  Ashish  22  93  83.0
5  A19    Alok  22  93   NaN
     Id    Name  Age  Mark  Attendance
0  A14   Jiten   22    91        63.0
1  A14    Amol   21    93        87.0
2  A16   Anmol   22    89        68.0
3  A17   Arman   23    82        91.0
4  A18  Ashish   22    93        83.0
5  A19    Alok   22    93         NaN

## Index_col parameter

In [6]:
df3 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\no_header.xlsx",names=["Id","Name","Age","Mark","Attendance"],index_col="Id")
print(df,'\n',df2,'\n',df3)

   A12    Alok  23  92  92.1
0  A14   Jiten  22  91  63.0
1  A14    Amol  21  93  87.0
2  A16   Anmol  22  89  68.0
3  A17   Arman  23  82  91.0
4  A18  Ashish  22  93  83.0
5  A19    Alok  22  93   NaN
     Id    Name  Age  Mark  Attendance
0  A14   Jiten   22    91        63.0
1  A14    Amol   21    93        87.0
2  A16   Anmol   22    89        68.0
3  A17   Arman   23    82        91.0
4  A18  Ashish   22    93        83.0
5  A19    Alok   22    93         NaN
        Name  Age  Mark  Attendance
Id
A14   Jiten   22    91        63.0
A14    Amol   21    93        87.0
A16   Anmol   22    89        68.0
A17   Arman   23    82        91.0
A18  Ashish   22    93        83.0
A19    Alok   22    93         NaN

## Header Parameter

In [7]:
df4 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\HEADER AS ROW.xlsx")
df5 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\HEADER AS ROW.xlsx",header = 0, index_col= 0)
print(df4,'\n',df5)

   0   Id   Name  Class  Score
0  1  A12   Amul      8     91
1  2  A13   Amul      7     98
2  3  A14  Anand      6     98
3  4  A15   Aman      5     99
4  5  A16  Arman      5    100
     Id   Name  Class  Score
0
1  A12   Amul      8     91
2  A13   Amul      7     98
3  A14  Anand      6     98
4  A15   Aman      5     99
5  A16  Arman      5    100

## use_cols parameter

In [8]:
df6 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\HEADER AS ROW.xlsx",usecols= ['Id','Class','Score'])
print(df4,'\n',df6)

   0   Id   Name  Class  Score
0  1  A12   Amul      8     91
1  2  A13   Amul      7     98
2  3  A14  Anand      6     98
3  4  A15   Aman      5     99
4  5  A16  Arman      5    100
     Id  Class  Score
0  A12      8     91
1  A13      7     98
2  A14      6     98
3  A15      5     99
4  A16      5    100

## Squeeze parameter

It makes `series` instead of `data frame` when we need single column only.

## Skiprows/nrows Parameter

In [9]:
df7 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\HEADER AS ROW.xlsx",usecols=['Id','Score'],skiprows=[1,3])
df7

    Id  Score
0  A13     98
1  A15     99
2  A16    100

In [10]:
df8 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\HEADER AS ROW.xlsx",usecols=['Id','Score'],nrows= 3)
df8

    Id  Score
0  A12     91
1  A13     98
2  A14     98

## Encoding Parameter

Default encoding =  utf8
But some data sets(emoji, language) are not. 
For those
1. Either change encoding by going to sublime
2. Use encoding parameter =

In [11]:
# df9 = pd.read_csv("",encoding="")

## Skip Bad Lines

Some rows have more values than others. To skip those. Use these

In [12]:
# df10 = pd.read_csv("",error_bad_lines = False)

## dtypes papameter

When read_csv sees the data, it finds the data type of each columns by its own. Some time we should over write it for less mempry use.

In [13]:
# df11 = pd.read_csv("",dtype = {'column_name': Int})

## Handling Date `parse_dates`

In [14]:
df12 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\BAD LINES AND DATE.xlsx")
print(df12)
# I need to skip last 2
df13 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\BAD LINES AND DATE.xlsx", skiprows=[5,6])
print(df13)
print(df13.info())
# I need to covert score type to int
df14 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\BAD LINES AND DATE.xlsx", skiprows=[5,6], dtype={'Score': int})
print(df14)
print(df14.info())

        Date Name  Score
0 2022-10-22    A   10.0
1 2022-11-01    B   11.0
2 2024-10-23    C   10.0
3 1990-12-25    D    9.0
4 1990-11-27  M,P    NaN
5 1990-11-23    R    NaN
        Date Name  Score
0 2022-10-22    A     10
1 2022-11-01    B     11
2 2024-10-23    C     10
3 1990-12-25    D      9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Name    4 non-null      object
 2   Score   4 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 228.0+ bytes
None
        Date Name  Score
0 2022-10-22    A     10
1 2022-11-01    B     11
2 2024-10-23    C     10
3 1990-12-25    D      9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Name    4 non-null      object
 2   Score   4 non-null      int32
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 212.0+ bytes
None

Here date is of datetime type.It may be of string type so better to use

In [15]:
df15 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\BAD LINES AND DATE.xlsx", skiprows=[5,6], dtype={'Score': int}, parse_dates=['Date'])
print(df15)
print(df15.info())

        Date Name  Score
0 2022-10-22    A     10
1 2022-11-01    B     11
2 2024-10-23    C     10
3 1990-12-25    D      9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Name    4 non-null      object
 2   Score   4 non-null      int32
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 212.0+ bytes
None

creating single date column from multiple column

In [16]:
df16 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\parsed.xlsx",skiprows=[6],dtype={'Score': float},parse_dates={'date':[0,1,2]},)
print(df16)
print(df16.info())

         date Name  Score
0   11 5 1999    w   21.0
1   22 4 1998    t   23.0
2  12 11 2000    r   24.0
3  13 12 2003    e   21.0
4   31 1 2002    r   25.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5 non-null      object
 1   Name    5 non-null      object
 2   Score   5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes
None

## Convertors

In [17]:
def rename(name):
    if name == "A":
        return "Alpha"
    else:
        return name

In [18]:
rename("A")

'Alpha'

In [19]:
df17 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\BAD LINES AND DATE.xlsx", skiprows=[5,6], dtype={'Score': int}, parse_dates=['Date'],converters={'Name':rename})
print(df17)

        Date   Name  Score
0 2022-10-22  Alpha     10
1 2022-11-01      B     11
2 2024-10-23      C     10
3 1990-12-25      D      9

## na_values parameter

In [20]:
df18 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\na.xlsx",names=['day','month','year','name','score'])
print(df18)
df19 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\na.xlsx",names=['day','month','year','name','score'],parse_dates=[['day','month','year']],na_values=['_'])
print(df19)
print(df19.info())

   day  month  year name score
0   22      6  1999    b    11
1   23      6  2001    c    10
2   23      4  2003    d     9
3   24      5  2003    e     _
  day_month_year name  score
0     1999-06-22    b   11.0
1     2001-06-23    c   10.0
2     2003-04-23    d    9.0
3     2003-05-24    e    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   day_month_year  4 non-null      datetime64[ns]
 1   name            4 non-null      object
 2   score           3 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 228.0+ bytes
None

C:\Users\shuve\AppData\Local\Temp\ipykernel_11948\3629040228.py:3: UserWarning: Parsing dates in %d %m %Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df19 = pd.read_excel(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with CSV\na.xlsx",names=['day','month','year','name','score'],parse_dates=[['day','month','year']],na_values=['_'])

## Loading a huge data set in chunks

In [21]:
# dfs = pd.read_csv(,chunksize = 5000)
# for chunks in dfs:
#     print(chunks.shape)