# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
print("Data","Science","Mentorship","Program","By","CampusX",sep = '-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [11]:
celcius=float(input('Enter Celsius temp. : '))  # Explicit Type Casting
farenhite = celcius * (9/5) + 32 #Implicit Type Coversion
print('Farenhite temp : ',farenhite)

Enter Celsius temp. :  56.98

Farenhite temp :  134.564

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [13]:
a = input('Enter 1st Number : ')
b = input('Enter 2nd Number : ')
c = a
a = b
b = c
print('Swpped 1st Number : ',a)
print('Swpped 2nd Number : ',b)

Enter 1st Number :  56
Enter 2nd Number :  90

Swpped 1st Number :  90
Swpped 2nd Number :  56

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [17]:
x1 = float(input('x1:'))
y1 = float(input('y1:'))
x2 = float(input('x2:'))
y2 = float(input('y2:'))
distance = ((x1 - x2)**2 + (y1-y2)**2)**0.5
print('Euclidian Distance between (',x1,',',y1,') and (',x2,',',y2,') : ',distance)

x1: 23
y1: 233
x2: -10
y2: 23.9

Euclidian Distance between ( 23.0 , 233.0 ) and ( -10.0 , 23.9 ) :  211.68800154945012

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [19]:
principal = float(input('Principal : '))
Rate_of_Interest = float(input('Rate of Interest in % :' ))
Time_Period = float(input('Time Period in Years :' ))
Simple_Interest = principal * Rate_of_Interest * Time_Period /100
print('Simple Interest : ', Simple_Interest)

Principal :  12
Rate of Interest in % : 333
Time Period in Years : 2

Simple Interest :  79.92

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [21]:
heads = int(input('No of Head : '))
legs = int(input('No of Leg : '))
# chicken + dog = heads
# 2*chicken + 4*dog = legs
chicken = (4*heads - legs)/2
dogs = heads - chicken
print('No of dogs : ',int(dogs),'\nNo of chicken : ',int(chicken))

No of Head :  4
No of Leg :  12

No of dogs :  2
No of chicken :  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [23]:
num = int(input('Enter the Number : '))
sum_square = num*(num + 1)*(2*num +1)/6
print('Sum of square of first',num,' numbers : ',int(sum_square))

Enter the Number :  12

Sum of square of first 12  numbers :  650

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [25]:
first = float(input('1st number : '))
second= float(input('2nd number : '))
n = int(input('n value for the term : '))
nth = first + (n-1)*(second - first)
print(n,'th term of the AP sequence is', nth)

1st number :  2
2nd number :  3
n value for the term :  10

10 th term of the AP sequence is 11.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [27]:
num_1 = int(input('numerator 1 :'))
den_1 = int(input('denominator 1 :'))
num_2 = int(input('numerator 2 :'))
den_2 = int(input('denominator 2 :'))
num = num_1*den_2 + num_2*den_1
den = den_1 * den_2
print('sum of ',num_1,'/',den_1,'and',num_2,'/',den_2,'is :',num,'/',den)

numerator 1 : 2
denominator 1 : 3
numerator 2 : 2
denominator 2 : 5

sum of  2 / 3 and 2 / 5 is : 16 / 15

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [29]:
H = float(input('Height of Tank'))
L = float(input('Length of Tank'))
B = float(input('Width of Tank'))
h = float(input('Height of Glass'))
r = float(input('Radius of Glass'))
milk_glass = (L*B*H) /((22/10)*(r**2)*h)
print('No. of milk glass',milk_glass)

Height of Tank 10
Length of Tank 10
Width of Tank 23
Height of Glass 2
Radius of Glass 4

No. of milk glass 32.67045454545454