## Working with JSON and SQL files.
~Shuvendu Pritam Das

In [1]:
import pandas as pd

# Working with `JSON`

## From Local Sysyem

In [5]:
df = pd.read_json(r"C:\Users\shuve\Desktop\Prep_fr_Bst\Data Science Role\Machine Learning\Data Gathering\Working with JSON and SQL file\train.json")
df.head(2)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...

## From URL

In [13]:
df2 = pd.read_json('https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json')
df2.head(2)

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88

# Working with `SQL`

In [17]:
! pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 435.7 kB/s eta 0:00:28
     --------------------------------------- 0.1/11.9 MB 939.4 kB/s eta 0:00:13
      --------------------------------------- 0.2/11.9 MB 1.5 MB/s eta 0:00:08
     - -------------------------------------- 0.5/11.9 MB 2.4 MB/s eta 0:00:05
     --- ------------------------------------ 1.0/11.9 MB 4.1 MB/s eta 0:00:03
     ---- ----------------------------------- 1.2/11.9 MB 4.0 MB/s eta 0:00:03
     ------ --------------------------------- 1.8/11.9 MB 5.3 MB/s eta 0:00:02
     ------ --------------------------------- 2.0/11.9 MB 5.6 MB/s eta 0:00:02
     -------- ------------------------------- 2.5/11.9 MB 5.8 MB/s eta 0:00:02
     ---------- ----------------------------- 3.1/11.9 MB 6.6 MB/s eta 0:00:02
     ---------- ----------------------------- 3.3/11.9 MB 6.1 MB/s eta 0:00:02
     ------------- -------------------------- 3.9/11.9 MB 6.8 MB/s eta 0:00:02
     -------------- ------------------------- 4.3/11.9 MB 7.2 MB/s eta 0:00:02
     --------------- ------------------------ 4.6/11.9 MB 6.9 MB/s eta 0:00:02
     ----------------- ---------------------- 5.3/11.9 MB 7.4 MB/s eta 0:00:01
     ------------------ --------------------- 5.4/11.9 MB 7.5 MB/s eta 0:00:01
     -------------------- ------------------- 6.0/11.9 MB 7.4 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 7.4 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 7.4 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 6.7 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 6.7 MB/s eta 0:00:01
     ------------------------- -------------- 7.6/11.9 MB 7.2 MB/s eta 0:00:01
     -------------------------- ------------- 7.8/11.9 MB 7.4 MB/s eta 0:00:01
     --------------------------- ------------ 8.1/11.9 MB 7.1 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 7.3 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 7.3 MB/s eta 0:00:01
     -------------------------------- ------- 9.5/11.9 MB 7.4 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 7.5 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 7.4 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 8.2 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 8.3 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 8.5 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=77a744c8ca338301aed9fd198155b1299fad3a5762f0bb7f977c6faee83e0de8
  Stored in directory: c:\users\shuve\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [18]:
import mysql.connector

In [22]:
# mysql.connector.connect()
#host = 'localhost' or 'ip address'
#user = 'root'
#password = ''
#database = 'world'

In [21]:
# save the connection object
# conn

In [20]:
# df = pd.read_sql_query("SELECT * FROM CITY WHERE COUNTRYCODE = 'INDIA' and LIFEEXPECTENCY > 60",conn)