# Data Gathering from APIs
~ Shuvendu Pritam Das

In [1]:
import pandas as pd
import requests

In [2]:
url = "https://api.coindesk.com/v1/bpi/currentprice.json"

response = requests.get(url)

print(response.text)

{"time":{"updated":"Aug 21, 2024 21:03:42 UTC","updatedISO":"2024-08-21T21:03:42+00:00","updateduk":"Aug 21, 2024 at 22:03 BST"},"disclaimer":"This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org","chartName":"Bitcoin","bpi":{"USD":{"code":"USD","symbol":"&#36;","rate":"61,213.805","description":"United States Dollar","rate_float":61213.8047},"GBP":{"code":"GBP","symbol":"&pound;","rate":"46,763.796","description":"British Pound Sterling","rate_float":46763.7964},"EUR":{"code":"EUR","symbol":"&euro;","rate":"54,890.235","description":"Euro","rate_float":54890.235}}}

In [3]:
data = response.json()

In [4]:
df = pd.DataFrame(data)
df

,time,disclaimer,chartName,bpi
updated,"Aug 21, 2024 21:03:42 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2024-08-21T21:03:42+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Aug 21, 2024 at 22:03 BST",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '61..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."
EUR,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'EUR', 'symbol': '&euro;', 'rate': '5..."

In [5]:
response = requests.get("https://datausa.io/api/data?drilldowns=Nation&measures=Population")
data = response.json()
pd.DataFrame(data['data'])

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2022  2022   331097593  united-states
1   01000US  United States     2021  2021   329725481  united-states
2   01000US  United States     2020  2020   326569308  united-states
3   01000US  United States     2019  2019   324697795  united-states
4   01000US  United States     2018  2018   322903030  united-states
5   01000US  United States     2017  2017   321004407  united-states
6   01000US  United States     2016  2016   318558162  united-states
7   01000US  United States     2015  2015   316515021  united-states
8   01000US  United States     2014  2014   314107084  united-states
9   01000US  United States     2013  2013   311536594  united-states